 /* style for value preposition */
 .value-proposition-section,
 .value-proposition-section * {
   box-sizing: border-box;
 }
 .value-proposition-section {
   display: flex;
   flex-direction: column;
   gap: 36px;
   align-items: center;
   justify-content: flex-start;
   position: relative;
   width: 100%;
   /* display: block;
   width: 95%;
   margin: 0 auto;
   text-align: center; */
 }
 .value-proposition {
   color: var(--neutral-200, #000000);
   text-align: center;
   font-family: var(--desktop-h-1-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-h-1-font-size, 48px);
   line-height: var(--desktop-h-1-line-height, 140%);
   font-weight: var(--desktop-h-1-font-weight, 400);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .discover-section {
   display: flex;
   flex-direction: column;
   gap: 72px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   position: relative;
   width: 95%;
 }
 .discover-section-image {
   display: flex;
   flex-direction: row;
   gap: 32px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   /* width: 1280px; */
   width: 100%;
   position: relative;
 }
 .discover-section-image img {
   background: linear-gradient(to left, #ced4da, #ced4da);
   border-radius: 7.17px;
   flex-shrink: 0;
   width: 580px;
   height: 430px;
   position: relative;
   overflow: hidden;
   object-fit: cover;
 }
 .discover-text-section {
   display: flex;
   flex-direction: column;
   gap: 48px;
   align-items: flex-start;
   justify-content: flex-start;
   flex: 1;
   position: relative;
 }
 .discover-text {
   display: flex;
   flex-direction: column;
   gap: 16px;
   align-items: flex-start;
   justify-content: flex-start;
   /* align-self: stretch; */
   flex-shrink: 0;
   position: relative;
 }
 .discover-text .title {
   color: var(--neutral-200, #000000);
   text-align: left;
   font-family: var(--desktop-h-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-h-2-font-size, 40px);
   line-height: var(--desktop-h-2-line-height, 140%);
   font-weight: var(--desktop-h-2-font-weight, 400);
   position: relative;
   align-self: stretch;
   width: 100%;
 }
 .immerse-yourself-in-a-curated-selection-of-courses-crafted-to-meet-the-evolving-needs-of-modern-educators-from-innovating-teaching-methodologies-to-cutting-edge-technology-integration-our-courses-will-help-elevate-you-and-serve-as-your-gateway-to-staying-ahead-in-your-field {
   color: var(--neutral-300, #495057);
   text-align: left;
   font-family: var(--desktop-title-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-title-2-font-size, 16px);
   line-height: var(--desktop-title-2-line-height, 140%);
   font-weight: var(--desktop-title-2-font-weight, 400);
   position: relative;
   align-self: stretch;
 }
 .frame-1000007927 {
   background: var(--primary-blue-100, #275c6f);
   border-radius: 8px;
   padding: 8px 16px 8px 16px;
   display: flex;
   flex-direction: row;
   gap: 8px;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 120px;
   height: 48px;
   position: relative;
 }
 .enroll-now {
   color: var(--neutral-600, #ffffff);
   text-align: center;
   font-family: var(--desktop-title-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-title-2-font-size, 16px);
   line-height: var(--desktop-title-2-line-height, 140%);
   font-weight: var(--desktop-title-2-font-weight, 400);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .frame-1000007933 {
   display: flex;
   flex-direction: row;
   gap: 32px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 1280px;
   position: relative;
 }
 .frame-1000007932 {
   display: flex;
   flex-direction: column;
   gap: 32px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 668px;
   position: relative;
 }
 .frame-1000007931 {
   display: flex;
   flex-direction: column;
   gap: 16px;
   align-items: flex-start;
   justify-content: flex-start;
   align-self: stretch;
   flex-shrink: 0;
   position: relative;
 }
 .unlock-possibilities-with-our-loan-program {
   color: var(--neutral-200, #000000);
   text-align: left;
   font-family: var(--desktop-h-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-h-2-font-size, 40px);
   line-height: var(--desktop-h-2-line-height, 140%);
   font-weight: var(--desktop-h-2-font-weight, 400);
   position: relative;
   align-self: stretch;
 }
 .access-to-technology-should-never-be-a-barrier-that-s-why-we-offer-an-exclusive-laptop-and-mifi-loan-program-apply-today-to-receive-the-tools-you-need-to-create-engaging-lessons-and-connect-with-your-students-anytime-anywhere {
   color: var(--neutral-300, #495057);
   text-align: left;
   font-family: var(--desktop-title-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-title-2-font-size, 16px);
   line-height: var(--desktop-title-2-line-height, 140%);
   font-weight: var(--desktop-title-2-font-weight, 400);
   position: relative;
   align-self: stretch;
 }
 .apply-now {
   color: var(--neutral-600, #ffffff);
   text-align: center;
   font-family: var(--desktop-title-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-title-2-font-size, 16px);
   line-height: var(--desktop-title-2-line-height, 140%);
   font-weight: var(--desktop-title-2-font-weight, 400);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .frame-1000007930 {
   background: linear-gradient(to left, #ced4da, #ced4da);
   border-radius: 8px;
   flex-shrink: 0;
   width: 580px;
   height: 430px;
   position: relative;
   overflow: hidden;
   object-fit: cover;
 }
 .frame-1000007938 {
   display: flex;
   flex-direction: row;
   gap: 32px;
   align-items: center;
   justify-content: flex-start;
   flex-shrink: 0;
   width: 1280px;
   position: relative;
 }
 .frame-1000007934 {
   background: linear-gradient(to left, #ced4da, #ced4da);
   border-radius: 8px;
   flex-shrink: 0;
   width: 580px;
   height: 430px;
   position: relative;
   overflow: hidden;
   object-fit: cover;
 }
 .frame-1000007937 {
   display: flex;
   flex-direction: column;
   gap: 48px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   position: relative;
 }
 .frame-1000007936 {
   display: flex;
   flex-direction: column;
   gap: 16px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-shrink: 0;
   position: relative;
 }
 .connect-and-collaborate-with-like-minded-educators {
   color: var(--neutral-200, #000000);
   text-align: left;
   font-family: var(--desktop-h-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-h-2-font-size, 40px);
   line-height: var(--desktop-h-2-line-height, 140%);
   font-weight: var(--desktop-h-2-font-weight, 400);
   position: relative;
   width: 670px;
 }
 .join-a-thriving-community-of-educators-who-shares-your-passion-engage-in-meaningful-conversations-share-insights-and-collaborate-to-learn-how-to-improve-teaching-experience-together-we-can-shape-the-future-of-education-and-inspire-the-next-generation {
   color: var(--neutral-300, #495057);
   text-align: left;
   font-family: var(--desktop-title-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-title-2-font-size, 16px);
   line-height: var(--desktop-title-2-line-height, 140%);
   font-weight: var(--desktop-title-2-font-weight, 400);
   position: relative;
   width: 670px;
 }
 .join-now {
   color: var(--neutral-600, #ffffff);
   text-align: left;
   font-family: var(--desktop-title-2-font-family, "Roboto-Regular", sans-serif);
   font-size: var(--desktop-title-2-font-size, 16px);
   line-height: var(--desktop-title-2-line-height, 140%);
   font-weight: var(--desktop-title-2-font-weight, 400);
   position: relative;
 }
 