.about-section,
.about-section * {
  box-sizing: border-box;
}
.about-section {
  background: #ffe6d6;
  padding: 72px 80px 72px 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1280px;
    position: relative;
  }

  .about-header {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 33px;
    line-height: 140px;
    font-weight: 700;
    position: relative;
    width: 439px;
    margin-top: -60px;
  }

  .about-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    margin-top: -60px;
    width: 85%;
  }

  .about-body .about-text {
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    text-align: justify;
  }

  .about-container .about-cta {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    margin-top: -20px;
  }

  .about-cta .read-more {
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    text-decoration: none;
  }