@media (max-width: 768px) {
  .mobile-bottom-nav-bar {
    background: #ffffff;
    border-radius: 8px 8px 0px 0px;
    padding: 0px 16px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
  }

  .mobile-bottom-nav-bar .bar-box {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 72px;
    position: relative;
    text-decoration: none;
    cursor: pointer;
  }

  .bar-box img {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }

  .bar-box .nav-text {
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 10px;
    line-height: 120%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
}

@media (min-width: 769px) {
  .mobile-bottom-nav-bar {
    display: none;
  }
}