.header,
.header * {
  box-sizing: border-box;
}

.header {
    background: #ffffff;
    padding: 16px 80px 16px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;
  }

  .header img {
    flex-shrink: 0;
    width: 127px;
    height: 48px;
    position: relative;
    object-fit: cover;
  }

  .header .top-right {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

.top-right .profile {
    flex-shrink: 0;
    width: 180px;
    height: 64px;
    position: static;
    position: absolute;
    right: 10px;
    top: 16px;
}

.top-right .profile img {
    border-radius: 100px;
    width: 54px;
    height: 54px;
    overflow: hidden;
    object-fit: cover;
    text-decoration: none;
}

.top-right .name {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 116px;
    height: 38px;
    position: absolute;
    right: 5px;
    top: 16px;
}

.top-right .name a  {
    color: black;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 13px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    text-decoration: none;
}

.content {
    display: block;
    margin-top: 30px;
    padding: 10px;
    width: 95%;
}

.content .product-left {
    display: block;
    margin-left: 30px;
    width: 100%;
}

.content .product-image {
    background: #000000;
    border-radius: 8px;
    /* width: 492px; */
    width: 592px;
    height: 392px;
    position: relative;
    overflow: hidden;
    padding: 40px;
    margin-top: 115px;
}

.product-image img {
    width: 592px;
    height: 416px;
    position: absolute;
    left: 0px;
    top: 0px;
    object-fit: cover;
}

.product-left p {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    padding: 8px 16px 8px 16px;
} 

.product-left .specification {
    display: block;
    width: 43%;
    padding: 8px 16px 8px 16px;
}

.specification .title {
    color: #495057;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    margin-left: -15px;
    margin-top: -20px;
}

.specification .sub-title {
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    width: 592px;
    margin-left: -15px;
    margin-top: -20px;
}

.product-left .price-label {
    color: #495057;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    position: relative;
    margin-top: -20px;
}

.product-left .price {
    color: #ffa76d;
  text-align: left;
  font-family: "Roboto-Bold",sans-serif;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  margin-top: -20px;
}

.content .product-details {
    display: block;
    padding: 8px 16px 8px 16px;
    width: 572px;
    /* position: relative; */
    position: absolute;
    top: 105px;
    right: 50px;
}

.product-details .title {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
    position: relative;
}

.product-details .sub-title {
    /* display: block; */
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin-top: -20px;
}

.product-details .product-options {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.product-options .income {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.income p {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    position: relative;
}

.product-details .selection {
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 338px;
    height: 48px;
    position: relative;
}

.selection select {
    display: block;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    padding: 15px;
    width: 400px;
    margin: -20px 0 0 -10px;
    border: 1px solid black;

}

.product-options {
    margin-left: -20px;
}

.product-options .payment {
    display: block;
    gap: 8px;
    position: relative;
    /* margin-left: -15px; */
    margin-top: -20px;
}

.product-details button {
    background: #275c6f;
    border-radius: 8px;
    padding: 12px;
    width: 126px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 0px;
    border: none;
}

@media (max-width: 768px) {
    .header {
        justify-content: space-between;
    }
    .header img  {
        width: 90%;
        margin-left: -40px;
    }

    .small-screen-navbar .top-right {
        display: none;
    }

    .header .content {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .content .product-left {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin: 0 auto 0 auto;
        position: relative;
    }

    .content .product-image {
        display: block;
        width: 100%;
        margin: 0px auto 0 auto;
        height: fit-content;
        position: relative;
        margin-top: 51px;
    }

    .product-image img {
        display: block;
        width: 350px;
        /* width: 100%; */
        height: 200px;
        margin-left: -70px;
        position: relative;
    }

    .product-left .specification {
        display: block;
        width: 100%;
        /* padding: 8px 16px 8px 16px; */
    }

    .specification .sub-title {
        display: block;
        width: 100%;
        word-wrap: break-word;
        position: relative;
        text-align: justify;
    }

    .product-left .price-label {
        font-weight: bold;
        font-size: 24px;
    }

    .product-left .price {
        font-size: 26px;
    }

    .content .product-details {
        display: block;
        width: 90%;
        margin: -40px auto 0 auto;
        position: initial;
        padding: 5px;
    }

    .product-details p {
        display: block;
        width: 100%;
    }

    .product-details .product-options {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-left: -16px;
    }

    .product-details .selection {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .product-options .payment {
        display: block;
        width: 100%;
        margin: 30px auto 0 auto;
    }

    .income .selection select {
        display: block;
        border: 1px solid grey;
        /* position: initial; */
        width: 250px;
        margin-left: -20px;
        margin-top: -20px;
        padding: 10px;
    }

    .payment p {
        margin-top: -30px;
        margin-left: -10px;
        font-weight: bold;
    }

    .income p {
        margin-left: -10px;
    }

    .payment select {
        display: block;
        border: 1px solid grey;
        position: initial;
        width: 250px;
        padding: 10px 0;
        margin-left: -20px;
        margin-top: -15px;
    }

    .product-details button {
        margin-top: 10px;
        margin-left: -10px;
    }
}