body {
    margin: 0;
    padding: 0;
}

.microsoft-container {
    padding: 0px 0px 24px 0px;
    width: 70%;
    height: 800px;
    position: relative;
  }

.main-content .microsoft-office-suite-header {
    background: #ffffff;
    position: relative;
}

.microsoft-office-suite-header p {
    padding: 8px 16px 0px 16px;
    color: #275c6f;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 48px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    margin-top: 0px;
    margin-left: -10px;
}

.microsoft-office-suite-header .microsoft-office-suite-description {
    padding: 0px 16px 8px 16px;
    position: relative;
    /* margin-top: -100px; */
    display: block;
}

.microsoft-office-suite-description p {
    color:#495057;
    text-align: left;
    position: relative;
    flex: 1;
    margin-top: -50px;
    margin-left: 10px;
    width: 90%;
}

.microsoft-office-suite-description .one {
    color: var(--neutral-300, #495057);
    font-family: "Roboto-Bold", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 700;
}

.microsoft-office-suite-description .two {
    color: #495057;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 400;
}

.microsoft-office-suite-description .three {
    color: #495057;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
}

.microsoft-container .microsoft-office-suite-image {
    border-radius: 16px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 304px;
    position: relative;
    overflow: hidden;
}

.microsoft-office-suite-image img {
    background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%);
    border-radius: 16px;
    align-self: stretch;
    flex-shrink: 0;
    height: 289px;
    position: relative;
    object-fit: cover;
}

.microsoft-container .course-description {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    margin-top: -30px;
}

.course-description .desc {
    color: #495057;
  text-align: left;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 19px;
  line-height: 140%;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  margin-bottom: -20px;
}

.course-description .course-duration {
    padding: 8px 16px 8px 16px;
    height: 48px;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 19px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    margin-left: -17px;
    margin-top: 30px;
}

.microsoft-container .course-status {
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    height: 48px;
    position: relative;
    margin-top: -40px;

}

.course-status .status-color {
    background: #ff2727;
    flex-shrink: 0;
    width: 16px;
    height: 27px;
    position: relative;
}

.course-status p {
    display: block;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 19px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    margin-top: 0px;
}

.microsoft-container .listed-courses {
    padding: 0px 0px 24px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-top: 0px;
    margin-bottom: -40px;
}

.microsoft-container .top-course {
    margin-top: -30px;
}

.listed-courses .course-header {
    padding: 8px 16px 0px 16px;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
    color: #275c6f;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 40px;
    line-height: 140%;
    font-weight: 700;
    position: relative;
}

.listed-courses .course-short-description {
    padding: 0px 16px 8px 16px;
    position: relative;
    color: #495057;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 19px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    margin-top: -60px;
}

.listed-courses .course-image {
    border-radius: 16px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 95%;
    margin-top: -40px;
}

.course-image img {
    background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%);
    border-radius: 16px;
    align-self: stretch;
    flex-shrink: 0;
    height: 289px;
    position: relative;
    object-fit: cover;
    width: 670px;
}

.listed-courses a {
    background: #275c6f;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    height: 42px;
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 28px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    width: 92%;
    display: block;
    margin: -10px auto 0 auto;
}

/* Style for right side content */
.right-content .course-translate-btn {
    background: #275c6f;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 42px;
    position: sticky;
    color:#ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    margin-bottom: 15px;
  }

  .right-content .course-read-btn {
    background: #275c6f;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 42px;
    position: sticky;
    color:#ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    width: 177px;
    margin-left: 90px;
  }

  .course-video-intro {
    width: 95%; 
    margin-left: 15px;
    position: relative;
  }

  .course-video-intro iframe {
    border-radius: 16px;
    width: 660px;
    height: 315px;
  }

  .course-video-intro .mark-as-complete {
    background: #275c6f;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 42px;
    color:#ffffff;
    font-family: "Roboto-SemiBold", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    position: relative;
    margin-left: 420px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .course-document {
    background: #e7e5e5;
    border-radius: 16px;
    height: 301px;
    width: 680px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 10px;
  }

  @media (max-width: 768px) {
    /* mobile style for middle contents */
    .mobile-course-content {
        display: block;
        width: 100%;
        overflow: visible;
        position: absolute;
        top: 10px;
        left: 0;
        margin: 70px 0 0 0;
    }
    .microsoft-container {
        display: block;
        width: 100%;
        margin: 0 auto;
        position: initial;
    }

    .microsoft-office-suite-header p {
        font-size: 28px;
    }

    .microsoft-office-suite-description {
        display: block;
        width: 95%;
    }

    .microsoft-office-suite-description p {
        width: 95%;
    }

    .microsoft-office-suite-description .one {
        display: block;
        font-size: 19px;
        margin-top: 50px;
    }

    .microsoft-office-suite-description .two {
        display: block;
        font-size: 19px;
        margin-top: 5px;
    }
    .microsoft-office-suite-description .three {
        display: block;
        font-size: 15px;
        margin-top: 5px;
    }

    .microsoft-container .microsoft-office-suite-image {
        display: block;
        width: 95%;
        height: 190px;
        margin: 0 auto;
        position: initial;
        padding: 0;
    }

    .microsoft-office-suite-image img {
        background: linear-gradient(180deg,rgba(0, 0, 0, 0.1) 0%,rgba(0, 0, 0, 0) 100%);
        display: block;
        width: 95%;
        height: 180px;
        padding: 20px;
        margin: 0 auto;
        object-fit: initial;
    }

    .microsoft-container .course-description {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .course-description .desc {
        font-size: 16px;
    }

    .course-description .course-duration {
        display: block;
        font-size: 17px;
        margin-top: 20px;
    }

    .microsoft-container .course-status {
        margin-top: -50px;
    }

    .course-status .status-color {
        height: 23px;
    }

    .course-status p {
        font-size: 17px;
    }

    .listed-courses .course-header {
        font-size: 28px;
    }

    .listed-courses .course-short-description {
        display: block;
        font-size: 16px;
        margin-top: -50px;
    }

    .listed-courses .course-image {
        display: block;
        width: 87%;
        margin: 0 auto;
        margin-top: -40px;
    }

    .course-image img {
        width: 100%;
        height: 200px;
        object-fit: initial;
    }

    .listed-courses a {
        width: 75%;
        font-size: 20px;
        height: 25px;
        margin-top: -18px;
    }

    .course-video-intro {
        display: block;
        width: 95%; 
        margin: 0 auto;
        /* margin-left: 15px; */
      }
    
      .course-video-intro iframe {
        border-radius: 16px;
        display: block;
        width: 100%;
        height: 315px;
      }

      .course-video-intro .mark-as-complete {
        background: #275c6f;
        border-radius: 8px;
        padding: 5px 10px 5px 10px;
        width: 170px;
        height: 26px;
        color:#ffffff;
        font-family: "Roboto-SemiBold", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        position: relative;
        margin-left: 120px;
        margin-bottom: 10px;
        text-decoration: none;
      }

      .course-document {
        background: #e7e5e5;
        border-radius: 16px;
        display: block;
        height: 301px;
        width: 95%;
        position: relative;
        overflow: hidden;
        margin: 30px auto 0 auto;
      }

    /* mobile style for right side contents */
    .right-content {
        display: none;
    }
  }