.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .center#blur.active{
    filter:blur(20px);
    pointer-events:none;
    user-select:none;
  }
  .center button {
    padding: 25px 35px;
    font-size: 25px;
    font-weight: 600;
    color: #222;
    background: #f5f5f5;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
  }
  .popup {
    position: absolute;
    top: -150%;
    left: 50%;
    height: 462px;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 25px 35px;
    visibility:hidden;
    transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
      transform 200ms ease-in-out 200ms;
    background: rgba(39, 92, 111, 0.2);
    position: relative;
    box-shadow: inset -7.55px 7.55px 7.55px 0px rgba(255, 255, 255, 0.28),
      inset 7.55px -7.55px 7.55px 0px rgba(182, 182, 182, 0.28);
    overflow: hidden;
    backdrop-filter: blur(40px);
    z-index: 1000;
  }

  .popup.active {
    top: 50%;
    opacity: 1;
    visibility:visible;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms,
      transform 200ms ease-in-out 200ms;
  }

  .popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    /* background: #888; */
    color: red;
    font-family: "Roboto-Regular", sans-serif;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
  }

  .form-element h2 {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 28px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
  }

  .form-element form {
    display: block;
    width: 100%;
    /* margin: 0 auto; */
    position: relative;
    text-align: center;
  }

  .form-element {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .form-element .email {
    border-style: dashed;
    border-color:#000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 400px; */
    height: 56px;
    color:#ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
  }

  .form-element .password {
    border-style: dashed;
    border-color:#000000;
    border-width: 1px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 400px; */
    height: 56px;
    color:#ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 23px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
  }

  .email i {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .password i {
    position: absolute;
    top: 15px;
    right: 10px;
  }

  .email input {
    width: 400px;
    padding: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 23px;
  }

  .password input {
    width: 400px;
    padding: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 23px;
  }

  #email::placeholder {
    color: white;
    font-size: 23px;
  }

  #pwd::placeholder {
    color: white;
    font-size: 23px;
  }

  .form-element .check-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .check-container input {
    background: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1000;
  }

  .check-container .remember-me {
    color: #ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 30px;
  }

  .form-element .forget-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .forget-container .forgot-password {
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    top: 0px;
    right: 0;
  }

  .form-element .submit-container {
    background: #275c6f;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 48px;
    position: relative;
    border: none;
    outline: none;
    margin-top: 40px;
    margin-left: 40px;
  }
  
  .submit-container .login {
    color: #ffffff;
    text-align: left;
    font-family: sans-serif;
    font-size: 28px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .form-element .bottom-account {
    position: relative;
    text-align: center;
  }

  .bottom-account p {
    display: inline-block;
    color:#ffffff;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    margin-left: 100px;
  }
  
  .bottom-account .sign-up {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
  }


  @media (max-width: 768px) {
    .popup {
      position: absolute;
      top: 170px;
      width: 240px;
    }

    .popup.active {
      margin-top: 170px;
    }

    .popup .close-btn {
      width: 20px;
      height: 20px;
    }

    .form-element h2 {
      font-size: 23px;
    }

    .form-element {
      width: 100%;
    }

    .form-element .email {
      text-align: center;
      width: 270px;
      margin-left: -20px;
    }

    .form-element .password {
      text-align: center;
      width: 270px;
      margin-left: -20px;
    }

    .email input {
      width: 400px;
      padding: 16px;
      background-color: transparent;
      border: none;
      outline: none;
      margin-left: -10px;
      color: white;
      font-size: 20px;
    }

    .password input {
      width: 400px;
      padding: 16px;
      background-color: transparent;
      border: none;
      outline: none;
      margin-left: -10px;
      color: white;
      font-size: 20px;
    }

    #email::placeholder {
      color: white;
      font-size: 20px;
    }

    #pwd::placeholder {
      color: white;
      font-size: 20px;
    }

    .check-container input {
      margin-left: -20px;
    }

    .check-container .remember-me {
      margin-left: -30px;
    }

    .forget-container .forgot-password {
      margin-right: -25px;
    }

    .form-element .submit-container {
      width: 100%;
      margin-left: 0;
    }

    .submit-container .login {
      font-size: 23px;
    }

    .form-element .bottom-account {
      display: block;
      text-align: center;
      width: 100%;
    }

    .bottom-account p {
      margin-left: -15px;
    }
  }
